extends ../../layouts/default

include ../../mixins/project
include ../../mixins/paginate

include ../../jade-bootstrap/components/dropdowns

block intro
	.page-intro: .container
		h1.page-title=data.nanodegree ? data.nanodegree.title : 'Project Gallery'
		p.lead
			| Welcome to the project gallery!  Here are some recent projects posted to uHub by our members.&nbsp;
			if user && user.canPostProjects
				p 
					a(href='/me/create/project') Submit your capstone project.
				if user.projects
				p 
					a(href='/me/projects') View or edit your projects.
						data.
			else
				a(href='/join').js-auth-trigger Join now
				| &nbsp;to submit your capstone project.
block content
	.page-content: .container-fluid
		//- if data.nanodegrees.length || !data.projects.length
		//- 	.row
		//- 		.col-sm-12
		//- 			.col-sm-4
		//- 				button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown")
		//- 					= Filter by Nanodegree
		//- 					| &nbsp;
		//- 					span.caret
		//- 				ul.dropdown-menu(role="menu",aria-labelledby="dropdownMenu1")
		//- 					- var args = Array.prototype.slice.call(arguments);
		//- 					for item in args[1]
		//- 						li(role="presentation")
		//- 							a(role="menuitem",tabindex="-1",href="#{item.url}")= item.text
		//- 				+dropdown("Filter by Nanodegree",[
		//- 					{text:"Bootstrap",url:"http://www.getbootstrap.com"},
		//- 					{text:"JADE",url:"http://www.jade-lang.com"},
		//- 					{text:"NodeJS",url:"http://www.nodejs.org"}
		//- 				])
		//- 			.col-sm-4
		//- 				+dropdown("Sort by...",[
		//- 					{text:"Bootstrap",url:"http://www.getbootstrap.com"},
		//- 					{text:"JADE",url:"http://www.jade-lang.com"},
		//- 					{text:"NodeJS",url:"http://www.nodejs.org"}
		//- 				])
		//- 			.col-sm-4
		.row
			div.col-md-12.col-sm-6
				if filters.nanodegree && !data.nanodegree
					h3
					| Invalid Nanodegree.
				else
					if data.projects.length
						.container(style='margin-top:10px;')
							.row.form-group
							each project in data.projects
								+project(project)
					else
						if data.nanodegree
							h3.text-muted No projects in the nanodegree #{data.nanodegree.title}.
						else
							h3.text-muted There are no projects yet.
			.col-md-2.pull-right
				nav.nav-pills.nav-stacked
				h5.text-muted Sort by
				p: small
					if current.sort == '-updatedAt'
						strong Recently added
					else
						a(href=qs_set({ sort: undefined })) Recently Updated
					span.text-muted &nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
					if current.sort == 'ratings'
						strong Most Popular
					else
						a(href=qs_set({ sort: 'ratings' })) Most Popular
				p: small
					if current.sort == 'title'
						strong Title - Ascending
					else
						a(href=qs_set({ sort: 'title'})) Title - Asc.
					span.text-muted &nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
					if current.sort == '-title'
						strong Title - Descending
					else
						a(href=qs_set({ sort: '-title'})) Title - Desc.
					if data.nanodegrees.length
						h5.text-muted Filter by Nanodegree
						ul.nav.nav-pills.nav-stacked
							li(class=!data.nanodegree ? 'active' : false, role=!data.nanodegrees ? 'presentation' : false)
								a(href='/projects', class=data.nanodegrees ? 'active' : false) 
									| All
									span.badge.pull-right 5
							each tag in data.nanodegrees
								li(class=data.nanodegree && data.nanodegree.id == tag.id ? 'active' : false, role=data.nanodegree && data.nanodegree.id == tag.id ? false : 'presentation') 
									a(href='/projects/' + tag.key, class=data.nanodegree && data.nanodegree.id == tag.id ? 'active' : false).list-group-item=tag.title
										span.badge.pull-right 4
	
	.row.paginate.text-center
		if data.pagination.totalPages > 1
				+paginate(data.pagination)